html {
  font-family: 'Times New Roman', Times, serif;
  background-color: bisque;
  margin: 150px;
  padding: 100px;
  border: 10px;
}


.image {
   position: absolute; 
   top: 20px; 
   left: 280px; 
   width: 150px; 
   height: auto;
  }
  h1{
    text-align: center;
    ;margin: 30px;
  }
  h2{
    text-align: center;
  }
  h3{
    text-align: left;
    margin: 10px;
    padding: 20px;
  }
  table{
    padding: 20px;
  }
  h4{
    text-align: center;
    font-size: 18px;
  }
  footer{
    text-align: center;
  }
  <div> class= ::content{
    position: relative;
  }